/* CSS Global component */

.chart-container {
  width: 446px;
  height: 270px;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(2px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.chart {
  font-family: "figtree", sans-serif;
  position: initial;
  max-width: 420px;
  max-height: max-content;
}