/* CSS Global component */

.card-container {
  width: 446px;
  height: 196px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  /* align-items: end; */
  justify-content: space-between;
}

.legend-card {
  font-family: "figtree", sans-serif;
  /* padding-right: 16px; */
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: left;
}

.text-top-groundwater {
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: -5px;
}

/* CSS Box level */

.card-visual-level {
  width: 100%;
  height: 157px;
  border-radius: 20px;
  flex-shrink: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(2px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.percentage-box {
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 10px;
  width: 109px;
  height: 36px;
  margin-top: 10px;
  margin-left: 8px;
}

.percentage-text {
  position: absolute;
  margin-top: 0;
  width: 109px;
  font-size: 40px;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  word-wrap: break-word;
  line-height: normal;
  flex-shrink: 0;
  backdrop-filter: blur(8px);
  border-radius: 10px;
  text-align: center;
}

.img-water-level {
  width: 100%;
  margin-top: 0px;
  transition: 2s;
}