.nape-home {
  width: 446px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titre-nape {
  font-size: 25px;
  padding-top: 20px;
}

.p-title {
  text-align: center;
  margin-top: -7px;
  color: rgb(101, 101, 101);
  padding-bottom: 10px;
}