* {
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: space-around;
}

.groundwater-chartcard {
  display: flex;
  flex-direction: column;
}

.leaflet-container {
  width: 61vw;
  height: 95vh;
  margin-top: -125px;
  border-radius: 25px;
  margin-right: -88px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.popup {
  display: flex;
  text-align: start;
  line-height: 0.6rem;
}

.inside-popup {
  font-family: "figtree", sans-serif;
  font-size: 1rem;
  text-align: center;
  line-height: 2rem;
  margin: 0%;
}