@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.svg-spinner {
  width: 100vw;
  height: 100vh;
  z-index: 11000;
}

.svg-spinner-composant {
  width: 445px;

  /* !a ajuster en fonction du footer */
  height: 630px;
}

.Welcome_Mobile {
  display: none;
}

@media screen and (max-width: 550px) {

  .Welcome_Mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Welcome_Mobile_card {
    position: sticky;
    /* margin: auto; */
    margin: 15px;
    justify-content: center;
    align-items: center;
    /* height: 35vh;
    width: 60vw; */
    box-sizing: border-box;
    background-color: aliceblue;
    border-radius: 12px;
    z-index: 2;
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.29);
  }

  .Welcome_Mobile_card_text {
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    font-weight: 550;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}